---
layout: front
---
<div class="wrapper style1" id="newPost">
	<section class="container special">
		<header>
			<h2 class="title-list">최신글 목록</h2>
		</header>
		<div class="row">
			{% assign count = 0 %}
				{% for post in site.posts reversed | limit:6 %}
					{% if post.featured == true %}
						<article class="4u 12u(mobile) special">

							<header class="featured-header">
								<h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
							</header>
							<div class="featured-post">
								{{ post.content | strip_html | strip_newlines | truncate: 200 }}
							</div>
							<footer>
								<a href="{{ post.url }}" class="button">Read more...</a>
							</footer>
						</article>
					{% assign count = count | plus: 1 %}
				{% endif %}
			{% endfor %}
		</div>
	</section>
</div>