@charset "utf-8";
/**
 * demo
 */
#fall{
	font-size: 0;
	text-align: center;
	/*margin: 0 auto;*/
	/*background-color: #ddd;*/

}
#fall ul{
	margin: 0 10px;
	padding: 0;
	width: 240px;
	/*background-color: red;*/
	display: inline-block;
	vertical-align: top;
	/*float: left;*/
}

@media screen and (max-width: 1200px) { 
	#fall ul{
		width: 210px;
	}
}
@media screen and (max-width: 991px){
	#fall ul{
		width: auto;
	}
}
#fall li{
	margin: 0 0 20px 0;
	padding: 0;
	list-style-type: none;
	font-size: 14px;

	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.6),0 0 20px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.6),0 0 20px rgba(0,0,0,0.1) inset;
	-o-box-shadow: 0 0 5px rgba(0,0,0,0.6),0 0 20px rgba(0,0,0,0.1) inset;
	box-shadow: 0 0 5px rgba(0,0,0,0.6),0 0 20px rgba(0,0,0,0.1) inset;

	transition:0.1s ease-out; 
	-webkit-transition:0.1s ease-out;
	-moz-transition:0.1s ease-out;
	-o-transition:0.1s ease-out;
}
#fall li:hover{
	-webkit-box-shadow: 0 0 12px rgba(0,0,0,0.8),0 0 20px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0 0 12px rgba(0,0,0,0.8),0 0 20px rgba(0,0,0,0.1) inset;
	-o-box-shadow: 0 0 12px rgba(0,0,0,0.8),0 0 20px rgba(0,0,0,0.1) inset;
	box-shadow: 0 0 12px rgba(0,0,0,0.8),0 0 20px rgba(0,0,0,0.1) inset;

	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}
#fall li p{
	margin: 0;
}
#fall .head{
	font-size: 16px;
	text-align: left;
	margin: 0 10px;
	padding: 10px 0 5px 0;
	border-bottom: 1px dotted #ddd;
	font-weight: bold;
}
#fall .description{
	text-align: left;
	padding: 5px 10px 10px 10px;
	text-indent: 2em;
}
#fall a:link {color: #7676AC}
#fall a:visited {color: #715584}
#fall a:hover {color: #5989AD;text-decoration: none;}
#fall a:active {color: #91C3CF}

/**
 * 
 */
@media screen and (min-width: 768px){
	#markdown-toc {
		display: none;
	}
}

#content a:link {color: #666}
#content a:visited {color: #666}
#content a:hover {color: #336;text-decoration: none;}
#content a:active {color: #99b}

#content{
	max-width: 292px;
}
#content .content-text{
	padding: 10px 0; 
}
#content ul{
	padding-left: 30px;
}
#content ul li{
	/*list-style: none;*/
	font-size: 15px;
	line-height: 25px;
}
.shadow-bottom-center{
	background-color:#f8f8fd; 
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.4),0 0 20px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4),0 0 20px rgba(0,0,0,0.1) inset;
	-o-box-shadow: 0 1px 5px rgba(0,0,0,0.4),0 0 20px rgba(0,0,0,0.1) inset;
	box-shadow: 0 1px 5px rgba(0,0,0,0.4),0 0 20px rgba(0,0,0,0.1) inset;
}

#myAffix .affix{
	top:-20px;
	bottom: 0px;
}

@media screen and (max-width: 1200px){
	.post{
		padding:10px 10px;
		font-size: 14px;
		line-height: 1.3;
	}
	blockquote {
		border-left: 3px solid #D6DBDF;
    	padding-left: 5px;
    	font-size: 14px;
	}
	pre code{
		font-size: 12px;
	}
	.post article ul{
		padding-left: 25px;
	}
}
