@charset "utf-8";
/* footer */
footer{
	min-height: 50px;
	line-height: 50px;
	margin-top: 80px;
	background: url(../images/bg/bg41.png) repeat;
	// background: #3f4850;
	color: #aaa;
	text-align: center;

	-webkit-box-shadow: 0 -2px 4px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 -2px 4px rgba(0,0,0,0.5);
	-o-box-shadow: 0 -2px 4px rgba(0,0,0,0.5);
	box-shadow: 0 -2px 4px rgba(0,0,0,0.5);
}
footer a:link {color: #aaa}	
footer a:visited {color: #888}
footer a:hover {color: #bbb;text-decoration: none;}
footer a:active {color: #bbb}
footer .point{
	margin: 0 8px;
}