@charset "utf-8";
/* shadow */
.shadow-corner-curl{
	
	position: relative;
	background-color:#f8f8fd; 
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.4),0 0 20px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4),0 0 20px rgba(0,0,0,0.1) inset;
	-o-box-shadow: 0 1px 5px rgba(0,0,0,0.4),0 0 20px rgba(0,0,0,0.1) inset;
	box-shadow: 0 1px 5px rgba(0,0,0,0.4),0 0 20px rgba(0,0,0,0.1) inset;
}
.shadow-corner-curl:before{
	content:"";
	position: absolute;
	z-index: -5;
	width: 70%;
	height:70%;
	left: 9%;
	bottom: 2%;
	background: transparent;
	-webkit-box-shadow: 0 8px 20px rgba(0,0,0,0.6);
	-moz-box-shadow: 0 8px 20px rgba(0,0,0,0.6);
	-o-box-shadow: 0 8px 20px rgba(0,0,0,0.6);
	box-shadow: 0 8px 20px rgba(0,0,0,0.6);

	/* 왼쪽 12도까지 기울어 진 후 4도 회전 */
	-webkit-transform:skew(-11deg) rotate(-4deg);
	-moz-transform:skew(-11deg) rotate(-4deg);
	-o-transform:skew(-11deg) rotate(-4deg);
	-ms-transform:skew(-11deg) rotate(-4deg);
	transform:skew(-11deg) rotate(-4deg);
}
.shadow-corner-curl:after{
	content:"";
	position: absolute;
	z-index: -5;
	width: 70%;
	height:70%;
	right: 9%;
	bottom: 2%;
	background: transparent;
	-webkit-box-shadow: 0 8px 20px rgba(0,0,0,0.6);
	-moz-box-shadow: 0 8px 20px rgba(0,0,0,0.6);
	-o-box-shadow: 0 8px 20px rgba(0,0,0,0.6);
	box-shadow: 0 8px 20px rgba(0,0,0,0.6);

	/* 왼쪽 12도까지 기울어 진 후 4도 회전 */
	-webkit-transform:skew(11deg) rotate(4deg);
	-moz-transform:skew(11deg) rotate(4deg);
	-o-transform:skew(11deg) rotate(4deg);
	-ms-transform:skew(11deg) rotate(4deg);
	transform:skew(11deg) rotate(4deg);
}