
body, input, select, textarea {
	font-family: $font-family;
}

.author,
button,
.button,
h1, h2, h3, h4, h5, h6 {
	font-family: $font-family;
}










/*** sidebar */
#intro {
	header {
		h2 {
			font-size: 1.6em;
		}
	}
}

















/*** post */
.post {
	img {
		max-width: 100%;
		height: auto;
	}

	h2 {
		font-size: 1.6em;
	}

	h3 {
		font-size: 1.6em;
	}

	h4 {
		font-size: 1.4em;
	}

	h5 {
		font-size: 1.2em;
	}

	h6 {
		font-size: 1.1em;
	}
}





