<section id="footer">
	<ul class="icons">
		<li><a href="https://facebook.com/{{ site.facebook }}" class="fa-facebook-square"><span class="label">Facebook</span></a></li>
	  	<li><a href="https://twitter.com/{{ site.twitter }}" class="fa-twitter-square"><span class="label">Twitter</span></a></li>
		<li><a href="https://github.com/{{ site.github }}" class="fa-git-square"><span class="label">GitHub</span></a></li>
		<li><a href="https://plus.google.com/{{ site.google_plus }}" class="fa-google-plus-square"><span class="label">Google+</span></a></li>
		<li><a href="/feed.xml" class="fa-rss-square"><span class="label">RSS</span></a></li>
		<li><a href="mailto:{{ site.email }}" class="fa-envelope"><span class="label">Email</span></a></li>
	</ul>
	<p class="copyright">Copyright &copy; 2015 {{ site.author }}</p>
</section>
