<footer class="site-footer">

    <div class="wrapper">
        <div class="footer-content">
            <h3>lorem ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, dolorum et eius obcaecati libero doloribus quam, vero, magni iure ut veritatis debitis hic perferendis quo, deleniti vitae itaque. Perferendis, doloremque.</p>
            <p>subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
        </div>

        <div class="footer-social">
            <ul>
                <li>
                    <a href="http://www.twitter.com/{{ site.twitter_username }}">
                        <img src="/images/twitter.png" alt="twitter logo" width="40">
                    </a>
                </li>
                <li>
                    <a href="http://www.github.com/{{ site.github_username }}">
                        <img src="/images/github.png" alt="github logo" width="40">
                    </a>
                </li>
                <li>
                    <a href="http://www.facebook.com/{{ site.facebook_username }}">
                        <img src="/images/facebook.png" alt="facebook logo" width="40">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
