{% assign count = 0 %}
    {% for post in site.posts reversed | limit:1 %}
        {% if post.featured == true %}
            <section>
                <header>
                    <header class="new-post-header">
                        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                    </header>
                </header>
                <div class="new-post-body">
                    {{ post.content | strip_html | strip_newlines | truncate: 200 }}
                </div>
                <footer>
                    <a href="{{ post.url }}" class="button">Learn More</a>
                </footer>
            </section>
        {% assign count = count | plus: 1 %}
    {% endif %}
{% endfor %}
