<div class="wrapper style1">
	<section class="container special">
		<header>
			<h2 class="title-list">최신글 목록</h2>
		</header>
		<div class="row">
			{% for post in site.posts %}
				<article class="4u 12u(mobile) special">
					<a href="{{ post.url }}" class="image featured"><img src="/images/pic07.jpg" alt="" /></a>
					<header>
						<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
					</header>
					<p>
						Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
						porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
					</p>
				</article>
			{% endfor %}
		</div>
	</section>
</div>


<!-- {% for node in pages_list %}
  {% if group == null or group == node.group %}
    {% if page.url == node.url %}
      <li class="active"><a href="{{node.url}}" class="active">{{node.title}}</a></li>
    {% else %}
      <li><a href="{{node.url}}">{{node.title}}</a></li>
    {% endif %}
  {% endif %}
{% endfor %}
{% assign pages_list = nil %}
{% assign group = nil %} -->
<!-- <ul>
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul> -->