// header

.site-nav {
    margin: 0;
    text-align: center;
    background: url('/images/bg/rubber_grip.png');

    ul {
        padding: 1em 0;
        margin: 0;
        list-style: none;
    }
    li {
        display: inline-block;
        margin: 0 0.5em;
        font-size: 1.5em;
    }
}


.site-title a {
    color: #fff;
    text-shadow: 1px 1px 5px #000;

    &:hover {
        text-decoration: none;
    }
}

.site-header {
    padding: 2em 0;
    border-bottom: 1px solid #ccc;
    background: url('/images/bg/dark_dotted.png');
    
}


// footer

.site-footer {
    padding: 2em 0;
    color: #fff;
    background: url('/images/bg/navy_blue.png');
    
}
.footer-content {
    float: left;
    width: 40%;
    font-style: 0.875em;

    h3 {
        text-align: left;
    }
}
.footer-social {
    float: right;
    li {
        display: inline-block;
        margin: 0 0.5em;
    }
}

















