@charset "utf-8";
// Our variables
$base-font-family: "Noto Sans KR",Helvetica, Arial, sans-serif;
// $base-font-family: "Noto Sans KR","Nanum Gothic","나눔고딕","Malgun Gothic", "맑은고딕", Helvetica, Arial, sans-serif;
// $base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;



// color
$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);


// layout
// Width of the content area
$content-width:    960px;
// $content-width:    800px;

$on-palm:          600px;
$on-laptop:        960px;
// $on-laptop:        800px;