.abilities {
	list-style: none;
	margin: 1.5em 0;

	li {
		margin-bottom: 0.5em;
		padding: 0.5em 1em;
		color: #fff;
	}
}

[class^="ability-"] {
	position: relative;

	&:before,
	&:after {
		position: absolute;
		content: "";
	}
	&:before {
		top: 0.5em;
		margin-left: -2em;
		text-align: right;
		color: #fff;
	}
	&:after {
		top: 0;
		left: 0;
		height: 100%;
		width: 0;
		background: $brand-color;
		z-index: -1;
	}
}
$abilities: (
	'ohotoshop': 95,
	'illustator': 80,
	'ui': 95,
	'html': 95,
	'css': 95,
	'jekyll': 100,
	'git': 80
);
@each $ability, $score in $abilities {
	@keyframes show-ability-#{$ability} {
		from { width: 0; }
		to { width: $score * 1%; }
	}
	.ability-#{$ability} {
		&:before {
			content: "#{$score}";
			left: $score * 1%;
		}
	}
}
