---
layout: default
---
<div class="row">
  <div id="myArticle" class="col-sm-12">
    <div class="well">
        {{content}}
    </div>
  </div>
</div>
<!-- <p><br/></p> -->
<div id="index" class="row">
  <div class="col-sm-9">
    <div class="panel panel-default">
  	  <div class="panel-heading"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Posts</div>
      <div class="panel-body">
        <div class="all-posts" post-cate="All">
          {% for post in site.posts %}
            <a class="post-list-item" href="{{ post.url | prepend: site.baseurl }}">
              <h2><span class="glyphicon glyphicon-book" aria-hidden="true"></span> 
              {{ post.title }}
              </h2>
              <span class="">{{ post.date | date: "%b %-d, %Y" }}</span>
            </a>
          {% endfor %}
        </div>
        <!-- <div class="posts-in-categories"> -->
        {% for category in site.categories %}
          <div post-cate="{{category | first}}">
            {% for posts in category  %}
              {% for post in posts %}
                {% if post.url %}
                  <a href="{{ post.url }}" class="post-list-item">
                    <h2>
                    {{ post.title }}
                    </h2>
                    <span class="">{{ post.date | date: "%b %-d, %Y" }}</span>
                  </a>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>
        {% endfor %}
        <!-- </div> -->
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="panel panel-default hidden-xs">
      <div class="panel-heading"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Categories</div>
      <div class="list-group">
        <a href="javascript:;" class="list-group-item categories-list-item2" cate="All">All<span class="badge">{{site.categories | size}}</span></a>
        {% for category in site.categories %}
          <a href="javascript:;" class="list-group-item categories-list-item2" cate="{{ category | first }}">
            {{ category | first }} <span class="badge">{{ category | last | size }}</span>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>