---
layout: default
---

<div class="row">
  <div class="col-sm-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> {{ page.title }}</h3>
      </div>
      <div class="panel-body">
        {{content}}
      </div>
    </div>
    {% include comments.html %}
    {% include tag_list.html %}
  </div>
  <div class="col-sm-3 hidden-xs">
      <div class="panel panel-default">
        <div class="panel-heading"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> 최신글</div>
        <div class="list-group">
            {% assign category_list = site.categories %}
            {% if category_list.first[0] == null %}
                {% for category in category_list %}
                    <a class="list-group-item" href="{{ site.category_dir | prepend: site.baseurl | replace: '//', '/' }}/{{ category }}">{{ category }} <span class="badge">{{ category | last | size }}</span></a></li>
                {% endfor %}
            {% else %}
                {% for category in category_list %}
                    <a class="list-group-item" href="{{ site.category_dir | prepend: site.baseurl | replace: '//', '/' }}/{{ category[0] }}">{{ category[0] }} <span class="badge">{{ category | last | size }}</span></a></li>
                {% endfor %}
            {% endif %}
            {% assign category_list = nil %}
        </div>

      </div>
  </div>
</div>