---
layout: default
---

<div id="index" class="row">
  <div class="col-sm-9">
    <div class="post-area post">
      <header>
        <h1>{{ page.title }}</h1>
        <p>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
      </header>
      <hr>
      <article>
        {{content}}
      </article>
    </div>
    {% include comments.html %}
  </div>
  <div class="col-sm-3">
    <div class="shadow-corner-curl hidden-xs">
      <div class="categories-list-header">
        Categories
      </div>

      <ul class="category-list">
          {% assign category_list = site.categories %}
          {% if category_list.first[0] == null %}
              {% for category in category_list %}
                  <li><a class="categories-list-item" href="{{ site.category_dir | prepend: site.baseurl | replace: '//', '/' }}/{{ category }}">{{ category }} <span class="my-badge">{{ category | last | size }}</span></a></li>
              {% endfor %}
          {% else %}
              {% for category in category_list %}
                  <li><a class="categories-list-item" href="{{ site.category_dir | prepend: site.baseurl | replace: '//', '/' }}/{{ category[0] }}">{{ category[0] }} <span class="my-badge">{{ category | last | size }}</span></a></li>
              {% endfor %}
          {% endif %}
          {% assign category_list = nil %}
      </ul>
      
      <!-- <a href="javascript:;" class="categories-list-item" cate="All">
        All<span class="my-badge"> {{site.categories | size}}</span>
      </a>
      {% for category in site.categories %}
        <a href="javascript:;" class="categories-list-item" cate="{{ category | first }}">
          {{ category | first }} <span class="my-badge">{{ category | last | size }}</span>
        </a>
      {% endfor %} -->
    </div>
  </div>
</div>